<h2 class="content-block">Pedidos</h2>

<dx-data-grid
  id="grid"
  [dataSource]="pedidos"
  (onSelectionChanged)="selectedChanged($event)"
  (onRowInserting)="insertRow($event)"
  (onRowRemoving)="validateRemove($event)"
  (onRowUpdating)="updateRow($event)"
  [showBorders]="true"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true">

  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-paging [pageSize]="5"> </dxo-paging>
  <dxo-selection mode="single"></dxo-selection>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing mode="popup">
    <dxo-texts confirmDeleteMessage="Tem certeza que deseja Deletar este Produto."></dxo-texts>
  </dxo-editing>

  <dxo-filter-row [visible]="false"></dxo-filter-row>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
    [visible]="true"
    [width]="240"
    placeholder="Buscar..."
  ></dxo-search-panel>

  <dxi-column
    dataField="id"
    [width]="100"
    dataType="number" >
  </dxi-column>
  <dxi-column
    dataField="numeroPedido"
    caption="Nº Pedido"
    dataType="string">
  </dxi-column>
  <dxi-column
    dataField="cliente.nome"
    caption="Cliente"
    dataType="string">>
  </dxi-column>
  <dxi-column
    dataField="totalPedido"
    caption="Total do Pedido"
    dataType="Date">
  </dxi-column>
  <dxi-column
    dataField="dataCriacao"
    caption="Data do Pedido"
    dataType="Date">
  </dxi-column>

  <dxo-editing
    mode="popup"
    [allowAdding]="false"
    [allowDeleting]="false"
    [allowUpdating]="false"
  ></dxo-editing>
</dx-data-grid>

<dx-speed-dial-action
  icon="add"
  label="Novo Pedido"
  [index]="1"
  (onClick)="addRow()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  icon="trash"
  label="Excluir"
  [index]="2"
  [visible]="selectedRowIndex !== -1"
  (onClick)="deleteRow()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  id="editRow"
  icon="edit"
  label="Editar"
  [index]="3"
  [visible]="selectedRowIndex !== -1"
  (onClick)="editRow()"
>
</dx-speed-dial-action>
