<h2 class="content-block">Pedidos</h2>

<dx-speed-dial-action
  icon="add"
  label="Novo Pedido"
  [index]="1"
  (onClick)="addRow()"
>
</dx-speed-dial-action>

<dx-speed-dial-action
  icon="trash"
  label="Excluir"
  [index]="2"
  [visible]="selectedRowIndex !== -1"
  (onClick)="deleteRow()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  id="editRow"
  icon="edit"
  label="Editar"
  [index]="3"
  [visible]="selectedRowIndex !== -1"
  (onClick)="editRow()"
>
</dx-speed-dial-action>
<dx-data-grid
  id="grid"
  [dataSource]="pedidos"
  (onSelectionChanged)="selectedChanged($event)"
  (onRowInserting)="insertRow($event)"
  (onRowRemoving)="validateRemove($event)"
  (onRowUpdating)="updateRow($event)"
  [showBorders]="true"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true">

  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-paging [pageSize]="5"> </dxo-paging>
  <dxo-selection mode="single"></dxo-selection>
  <dxo-paging [enabled]="true"></dxo-paging>

  <dxo-editing mode="popup">
    <dxo-texts confirmDeleteMessage="Tem certeza que deseja Deletar este Produto."></dxo-texts>
  </dxo-editing>
  <dxo-filter-row [visible]="false"></dxo-filter-row>

  <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true" [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
  <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

  <dxo-editing
    mode="popup"
    [allowAdding]="false"
    [allowDeleting]="false"
    [allowUpdating]="false"
  >
    <dxo-popup title="Pedidos" [showTitle]="true"></dxo-popup>
    <!--<dxo-popup title="Pedidos" [showTitle]="true" [width]="1080" [height]="725" ></dxo-popup>-->

    <dxo-form>
      <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
        <dxi-item dataField="id" [disabled]="true" [visible]="false"></dxi-item>
        <dxi-item dataField="numeroPedido" [visible]="true"></dxi-item>
        <dxi-item dataField="cliente" [visible]="true"></dxi-item>
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item dataField="itens" [colSpan]="2"></dxi-item>
        </dxi-item>
      </dxi-item>
    </dxo-form>

  </dxo-editing>

  <dxi-column dataField="id" [width]="100" dataType="number" [visible]="false"></dxi-column>
  <dxi-column dataField="numeroPedido" caption="Nº Pedido" dataType="string"></dxi-column>
  <dxi-column dataField="cliente" editCellTemplate="editClienteCellTemplate" [visible]="true"></dxi-column>
  <dxi-column dataField="cliente.codigo" caption="Cliente" dataType="string"></dxi-column>
  <dxi-column dataField="cliente.nome" caption="Código Cliente" dataType="string"></dxi-column>
  <dxi-column dataField="itens"  [visible]="false" editCellTemplate="itensEditCellTemplate"></dxi-column>
  <dxi-column dataField="totalPedido" caption="Total do Pedido" dataType="Date"></dxi-column>
  <dxi-column dataField="dataCriacao" caption="Data do Pedido" dataType="Date"></dxi-column>

  <div *dxTemplate="let data of 'itensEditCellTemplate'">
    <dx-data-grid
      [dataSource]="itens"
      (onRowInserting)="getPedidoSave($event)"
      (onRowUpdating)="updateRow($event)">

      <dxo-editing
        mode="row"
        [allowAdding]="true"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [useIcons]="true">
      </dxo-editing>

      <dxi-column dataField="produto" caption="Produto" editCellTemplate="editProdutoCellTemplate"></dxi-column>
      <dxi-column dataField="quantidade" caption="Quantidade" dataType="number"></dxi-column>

      <div *dxTemplate="let data of 'editProdutoCellTemplate'">
        <dx-select-box [items]="produto" [displayExpr]="nomeProduto"></dx-select-box>
      </div>
    </dx-data-grid>
  </div>

  <!--<div *dxTemplate="let data of 'detail'">
    <detail-grid [accessKey]="data.key"></detail-grid>
  </div>-->
  <!--<dxo-summary>
    <dxi-total-item column="Total do Pedido" summaryType="sum">
      <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
    </dxi-total-item>
    <dxi-group-item column="Total do Pedido" summaryType="sum">
      <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
    </dxi-group-item>
    <dxi-group-item summaryType="count"> </dxi-group-item>
  </dxo-summary>-->

  <div *dxTemplate="let data of 'editClienteCellTemplate'">
    <dx-select-box [items]="cliente" [displayExpr]="nomeCliente"></dx-select-box>
  </div>

</dx-data-grid>

<!-- teste-->
<!--<dx-data-grid
  id="grid"
  [dataSource]="pedidos"
  (onSelectionChanged)="selectedChanged($event)"
  (onRowInserting)="insertRow($event)"
  (onRowRemoving)="validateRemove($event)"
  (onRowUpdating)="updateRow($event)"
  [showBorders]="true"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
>
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-paging [pageSize]="5"> </dxo-paging>
  <dxo-selection mode="single"></dxo-selection>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing mode="popup">
    <dxo-texts confirmDeleteMessage="Tem certeza que deseja Deletar este Produto."></dxo-texts>
  </dxo-editing>

  <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
  <dxi-column
    dataField="id"
    [width]="100"
    dataType="number" >
  </dxi-column>
  <dxi-column
    dataField="numeroPedido"
    caption="Nº Pedido"
    dataType="string">
  </dxi-column>
  <dxi-column
    dataField="cliente.codigo"
    caption="Cliente"
    dataType="string">>
  </dxi-column>
  <dxi-column
    dataField="cliente.nome"
    caption="Cliente"
    dataType="string">>
  </dxi-column>
  <dxi-column
    dataField="itens.quantidade"
    caption="Unidades"
    dataType="number">
  </dxi-column>
  <dxi-column
    dataField="totalPedido"
    caption="Total do Pedido"
    dataType="number">
  </dxi-column>
  <dxi-column
    dataField="dataCriacao"
    caption="Data do Pedido"
    dataType="Date">
  </dxi-column>

  <div *dxTemplate="let order of 'detail'">
    <detail-grid [key]="order.key"></detail-grid>
  </div>
  <dxo-summary>
    <dxi-total-item column="Freight" summaryType="sum">
      <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
    </dxi-total-item>
    <dxi-group-item column="Freight" summaryType="sum">
      <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
    </dxi-group-item>
    <dxi-group-item summaryType="count"> </dxi-group-item>
  </dxo-summary>
</dx-data-grid>-->


